% -*- mode: erlang -*-
{plugins, [rebar_ct]}.
{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{cover_enabled, true}.
{sub_dirs, [
	    "lib/jc",
	    "lib/jc_http_server",
	    "lib/change_relay",
	    "lib/resource_discovery",
            "rel"
           ]}.

% Dependencies
{deps, [
	{mochiweb, ".*", {git, "git://github.com/mochi/mochiweb.git",
			  {branch, "master"}}} ,
	{lager, ".*", {git, "git://github.com/basho/lager.git", 
		          {tag, "1.2.1"}}}
       ]}.

% Documentation
{edoc_opts, [{preprocess, true}, {packages, true},{includes, "./lib/include"}] }.


% Common test
{ct_dir, "./test"}.
{ct_log_dir, "./test/log"}.
{ct_extra_params, "-pa ./lib/jc/ebin -pa ./lib/resource_discovery/ebin -pa ./lib/change_relay/ebin -pa ./lib/jc_http_server/ebin -pa deps/mochiweb/ebin -cover ./test/jc_store.coverspec"}.


{dialyzer_opts, [{warnings, [no_return,
                             no_unused,
                             no_improper_lists,
                             no_fun_app,
                             no_match,
                             no_opaque,
                             no_fail_call,
                             error_handling,
                             race_conditions,
                             behaviours,
                             unmatched_returns]}]}.




