[
	{mnesia, 
		 [
		  {dc_dump_limit, 40}, 
		  {dump_log_write_threshold, 50000}
		 ]
 	},
	{sasl,
		[
		 %% All supervisor, crash, and progress reports go to this file
		 {dc_dump_limit, 40}, 
		 {dump_log_write_threshold, 50000},
		 {sasl_error_logger, {file, "./log/jc.sasl_log"}},
		 {error_logger_mf_dir, "./log/"},
		 {error_logger_mf_maxbytes, 10000000},
                 {error_logger_mf_maxfiles, 10}
		]
	},
	{lager, 
		[
	         {handlers, [
                      {lager_console_backend, error},
                      {lager_file_backend, [
                         {"./log/lager_error.log", error, 10485760, "$D0", 5},
                         {"./log/lager_console.log", error, 10485760, "$D0", 5}
		      ]}
                  ]}
        ]},
	{jc,
		[
		 %% Contact nodes for use in joining a cloud
		 {contact_nodes, ['jc@192.168.1.66', 'jc@10.5.82.14',
		 		  'yp@192.168.2.10',
		 		  'yp@192.168.2.40']},
	         {table_wait_ms, 3000}
 		]
        },
	{resource_discovery,
		[
		 %% Time in ms for pinging / resource-tradding of cluster nodes
                 {heart_beat_ms, 30000}
		 ]
        },
	{change_relay,
		[
		{evict_deadbeats_ms, 3600000},
		{clean_buffer_ms, 30000}
		]		 
	},
	{jc_http_server,
		[
		{port, 9000}
		]		 
	}
].
